---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_acct_has_ordered_sku&acct_no=1&sku=Test
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1009,"ordered_ind":null,"billed_ind":null,"paid_ind":null,"error_msg":"account
        does not exist"}

'
  recorded_at: Fri, 23 Mar 2012 15:54:48 GMT
recorded_with: VCR 2.0.0
