---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_queued_service_plans&account_number=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1009,"error_msg":"account does not exist","queued_plans":null,"current_rate_schedule_no":""}

'
  recorded_at: Wed, 21 Mar 2012 21:46:19 GMT
recorded_with: VCR 2.0.0
