---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_country_from_ip&ip_address=64.71.167.222
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"country_code":"US","country_name":"United States","error_code":0,"error_msg":"OK"}

'
  recorded_at: Wed, 21 Mar 2012 16:47:48 GMT
recorded_with: VCR 2.0.0
