---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_web_replacement_vals&in_replacement_names=One%7CTwo
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"web_vals_out":[{"out_replacement_names":"One","out_replacement_values":""},{"out_replacement_names":"Two","out_replacement_values":""}],"error_code":0,"error_msg":"OK"}

'
  recorded_at: Wed, 21 Mar 2012 19:56:19 GMT
recorded_with: VCR 2.0.0
