---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_acct_message&acct_no=1&message_id=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1009,"error_msg":"account does not exist","message_body":"","mime_type":null}

'
  recorded_at: Thu, 22 Mar 2012 13:40:33 GMT
recorded_with: VCR 2.0.0
