---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_unbilled_usage_summary&acct_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1009,"currency_cd":null,"currency_name":null,"acct_mtd_threshold_amount":null,"acct_ptd_threshold_amount":null,"client_mtd_threshold_amount":null,"client_ptd_threshold_amount":null,"mtd_balance_amount":null,"ptd_balance_amount":null,"acct_mtd_delta_sign":null,"acct_mtd_delta_amount":null,"acct_ptd_delta_sign":null,"acct_ptd_delta_amount":null,"client_mtd_delta_sign":null,"client_mtd_delta_amount":null,"client_ptd_delta_sign":null,"client_ptd_delta_amount":null,"error_msg":"account
        does not exist"}

'
  recorded_at: Wed, 21 Mar 2012 16:47:28 GMT
recorded_with: VCR 2.0.0
