---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=get_country_from_ip&ip_address=1.1.1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"country_code":null,"country_name":null,"error_code":1002,"error_msg":"no
        data found"}

'
  recorded_at: Tue, 13 Mar 2012 02:58:07 GMT
recorded_with: VCR 2.0.0
