---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=create_order&account_no=1&client_sku=Test&units=2&amount=20000&unit_discount_amount=1000&bill_immediately=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"order_no":null,"transaction_id":null,"statement_error_cd":null,"statement_error_msg":null,"proc_cvv_response":null,"proc_avs_response":null,"proc_cavv_response":null,"proc_status_code":null,"proc_status_text":null,"proc_payment_id":null,"proc_auth_code":null,"proc_merch_comments":null,"invoice_no":null,"error_code":1009,"error_msg":"account
        does not exist"}

'
  recorded_at: Thu, 22 Mar 2012 16:22:29 GMT
recorded_with: VCR 2.0.0
