---
http_interactions:
- request:
    method: post
    uri: https://secure.future.stage.ariasystems.net/api/ws/api_ws_class_dispatcher.php
    body:
      encoding: US-ASCII
      string: output_format=json&auth_key=8Vn848nuRPa58jht9jBBpWvSUVsn3fnB&client_no=4950701&rest_call=modify_supp_plan&acct_no=1&supp_plan_no=1
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error_code":1009,"proration_result_amount":null,"invoice_no":null,"supp_plan_line_items":null,"total_charges_before_tax":null,"total_tax_charges":null,"total_charges_after_tax":null,"total_credit":null,"error_msg":"account
        does not exist"}

'
  recorded_at: Fri, 16 Mar 2012 19:57:00 GMT
recorded_with: VCR 2.0.0
